{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "svelte3"
  ],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always"],
    "eol-last": ["error", "always"],
    "computed-property-spacing": ["error", "always"],
    "camelcase": ["error", {
      "properties": "always",
      "ignoreDestructuring": true,
      "ignoreImports": true
    }],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "array-element-newline": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "array-bracket-newline": ["error", "always"]
  },
  "settings": {
  }
}
